.register {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.form__area {
    /* width: 50rem; */
    background-color: #fff;
    width: 30%;
    height: 32rem;
    border-radius: 1rem;
}
.title {
    color: #0000ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.titleb {
    color: #0000ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.sub__title {
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -1rem;
}
.input {
    width: 75%;
    margin-left: 2rem;
    margin-right: 5rem;
    height: 2rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.inputc {
    width: 84%;
    margin-left: 2rem;
    margin-right: 5rem;
    height: 2.5rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.inputb {
    width: 84%;
    margin-left: 2rem;
    margin-right: 5rem;
    height: 3rem;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    border-radius: 7px;
    background-color: #0000ff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.inputb:hover {
    border: 2px solid;
    border-color: #000; 
}
.opt {
    height: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .register {
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .form__area {
        /* width: 50rem; */
        background-color: #fff;
        width: 80%;
        height: 32rem;
        border-radius: 1rem;
    }
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form__area {
        /* width: 50rem; */
        background-color: #fff;
        width: 60%;
        height: 32rem;
        border-radius: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form__area {
        /* width: 50rem; */
        background-color: #fff;
        width: 40%;
        height: 32rem;
        border-radius: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .register {
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .form__area {
        /* width: 50rem; */
        background-color: #fff;
        width: 35%;
        height: 32rem;
        border-radius: 1rem;
    }
    .title {
        color: #0000ff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
    .titleb {
        color: #0000ff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    .sub__title {
        color: #ff0000;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: -1rem;
    }
    .input {
        width: 75%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 2rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .inputc {
        width: 84%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 2.5rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .inputb {
        width: 84%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 3rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        border-radius: 7px;
        background-color: #0000ff;
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    .inputb:hover {
        border: 2px solid;
        border-color: #000; 
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .register {
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .form__area {
        /* width: 50rem; */
        background-color: #fff;
        width: 30%;
        height: 32rem;
        border-radius: 1rem;
    }
    .title {
        color: #0000ff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }
    .titleb {
        color: #0000ff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    .sub__title {
        color: #ff0000;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: -1rem;
    }
    .input {
        width: 75%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 2rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .inputc {
        width: 84%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 2.5rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .inputb {
        width: 84%;
        margin-left: 2rem;
        margin-right: 5rem;
        height: 3rem;
        outline: none;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        border-radius: 7px;
        background-color: #0000ff;
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    .inputb:hover {
        border: 2px solid;
        border-color: #000; 
    }
}